.csc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center; /* 내용을 가운데 정렬하기 위한 설정 */
  /* max-width: 800px;
  margin-left: 550px; */
}

.csc-title {
  
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

/* faq-list 스타일 */
.faq-list {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* faq-item 스타일 */
.faq-item {
  
  cursor: pointer;
  margin-bottom: 10px;
  padding: 15px;
  /* border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  transition: background-color 0.3s ease;
}

.faq-item-table {
  width: 100%;
  background-color: #f5f5f5;
  border-collapse: collapse;
}

.faq-item-table td {
  padding: 15px;
}

.faq-item-table td:first-child {
  border-bottom: 1px solid #ddd;
}

.faq-item-table td:not(:first-child) {
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
}

.faq-item:hover {
  background-color: #f5f5f5;
}

/* question 스타일 */
.question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

/* answer 스타일 */
.answer {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.6;
}
