.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin-top: 100px;
    margin-bottom: 100px;
}

.signup-page ul {
    list-style: none; /* 기본 체크박스 점을 숨김 */
    padding-left: 0; /* ul의 기본 패딩 제거 */
}

.signup-page .signup-label1 {
    text-align: center; /* 텍스트 가운데 정렬 */
    padding: 20px 103px; /* 여백 추가 (예시로 지정된 값) */
    border: 2px solid blue; /* 테두리 스타일 및 색상 지정 */
    color: white; /* 글자색을 흰색으로 변경 */
    background-color: blue; /* 배경색을 파란색으로 변경 */
    border-radius: 4px; /* 테두리 모서리 둥글게 설정 (선택사항) */
    font-weight: bold; /* 글자를 굵게 설정 */
}

.textarea-style {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    width: 350px;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    line-height: 1.5;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

  /* 회원가입 폼에 대한 스타일 */
.signup-form-container {
    /* 필요한 스타일 */
}
