.form-container{

    border: none; /* 테두리 없애기 */
}

.label-title{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 900; /* 굵게 */
    font-size: 32px; /* 크기 조절 (예시로 24px 사용) */
}

