.App {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* 세로 스크롤이 내용이 넘칠 때 보이도록 설정 */
    min-height: 150vh;
}

.Footer {
    margin-top: auto; /* Footer를 항상 페이지 맨 아래에 위치시킵니다 */
}
